@import url("styles/header.css"); /*Serve para importar um arquivo css para outro arquivo css*/
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

/*root usado para criar variaveis no css*/
:root{
    --cor-preta: #000000;
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --cor-link:  #234f6e ;
    --fonte-principal: "Poppins";
    --cor-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-secundaria: "Josefin Sans";
    --azul: #002F52;
    

}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

